---
import Layout from '../../layouts/Layout.astro'
---

<Layout>

<main class="container mx-auto px-4 py-8">
  <article class="bg-white p-6 rounded-lg shadow-lg max-w-4xl mx-auto">
    <img src="/src/assets/images/noticias/cr2.jpg" alt="visita cr2" class="w-full h-64 object-cover rounded mb-6 shadow-md" />
    <h1 class="text-3xl font-bold mb-2 text-gray-800">Estudiantes del Liceo Rayen Mapu recibierón la visita del Centro de Ciencia del Clima y la Resiliencia (CR)2</h1>
    <p class="text-sm text-gray-500 mb-6">Publicado el 20 de mayo de 2025 · Redacción: Equipo de comunicaciones</p>
    <div class="space-y-4 text-gray-700 leading-relaxed text-justify">
      <p>Con una entusiasta participación de los y las estudiantes, el Centro de Ciencia del Clima y la Resiliencia (CR)2 llevó a cabo diversos talleres escolares en los liceos</strong>Rayen Mapu</str> y Paulo Freire de Quellón para conocer los efectos del cambio climático en el medio ambiente y en las personas, con especial foco en los eventos de marea roja que afectan a la isla de Chiloé.</p>
      <p>La detección de nutrientes en el agua, el desarrollo de preguntas para encuestas de percepción, el uso de plataformas en línea para conocer datos meteorológicos y la exploración de acciones ciudadanas ante el cambio climático, fueron algunos de los temas abordados en los talleres que se realizarón.</p>
    <div class="my-6">
    <img src="/src/assets/images/noticias/crvisit.jpg" alt="charla cr2" class="w-1/2 max-w-3xl mx-auto rounded shadow-md" />
      <p class="text-sm text-gray-500 text-center mt-2">charla del (CR)2</p>
    </div>
      <p>Cristián Navarrete, profesor de educación ambiental del Liceo Rayen Mapu, destacó el valor que tienen estas instancias para el desarrollo de vocaciones científicas. “El trabajo pedagógico en terreno y conocer proyectos científicos innovadores es fundamental para motivar a los y las estudiantes en el aula”, indicó el docente, quien agregó que “la visita de científicos y científicas, y de estudiantes del liceo que ya se encuentran cursando carreras en el ámbito de las ciencias les abre el abanico de posibilidades a nuestros alumnos y alumnas”.</p>
      <p>esta visita, abordó las problemáticas socioambientales del borde costero, como las floraciones de algas nocivas, la protección de los recursos marinos y pesqueros, el cuidado de la flora y la fauna local, entre otros temas que afectan a la comunidad de Quellón.</p>
    </div>
    <p class="mt-8 text-sm text-gray-500 text-right">Fotografía: Archivo institucional</p>
  </article>
</main>

</Layout>