---
import '../styles/global.css'
---


<section class="relative mt-10">
    <img
      src="/assets/images/inicio/liceo-rayen-mapu.jpg"
      alt="Infraestructura del liceo"
      class="w-full h-64 object-cover rounded-lg shadow"
    />
    <div class="absolute inset-0 flex items-center justify-center">
    <div class="bg-white/40 p-6 rounded shadow text-center max-w-md">
      <h3 class="text-xl font-bold mb-2">Vea nuestra infraestructura</h3>
      <p class="text-black mb-4">Conozca los espacios que forman parte del proyecto educativo del Liceo Rayen Mapu.</p>
      <a
        href="/infraestructura/salas.html"
        class="inline-block bg-yellow-400 text-black font-semibold px-4 py-2 rounded hover:bg-yellow-500 transition"
      >
        Ver más
      </a>
    </div>
  </div>


  </section>
