---
import Layout from '../../layouts/Layout.astro';
import '../../styles/global.css';
import fondoImg from '../../assets/images/menu/fondo.jpg';
---

<Layout>
  <div class="md:col-span-3 space-y-6">
    <div
      class="relative rounded-lg shadow-lg overflow-hidden h-[600px] bg-cover bg-center"
      style={`background-image: url('${fondoImg.src}');`}
    >
      <div class="absolute inset-0" style="background-color: rgba(0, 0, 0, 0.6); z-index: 0;"></div>
      <div class="relative z-10 p-10 h-full flex flex-col justify-center">
        <h4 class="text-white text-3xl font-bold mb-4">Liceo Rayen Mapu</h4>
        <p class="text-white text-lg leading-relaxed">
          El Liceo Rayen Mapu comenzó a funcionar oficialmente el 4 de abril de 1984. Desde entonces, se ha posicionado como un pilar en la educación media de la comuna.
        </p>
        <p class="text-white text-lg leading-relaxed mt-4">
          A lo largo de los años, ha evolucionado para ofrecer una educación polivalente, combinando la formación científico-humanista con la técnico-profesional.
        </p>
        <p class="text-white text-lg leading-relaxed mt-4">
          La misión del Liceo Rayen Mapu se centra en la formación integral de sus estudiantes, con un enfoque particular en la transformación social y el desarrollo de un pensamiento crítico.
        </p>
      </div>
    </div>
  </div>
</Layout>


  